<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style type="text/css">
        .admin-main-body{padding: 10px;}
        .admin-main-header span{background: #009688;margin-left:30px; color: #ffffff;padding: 10px;}
        .admin-main-header div{border-bottom: solid 2px #009688;margin-top: 8px;}
        .admin-main-header button{float: right;margin-top: -5px;}
        .admin-danger{color: red;}
    </style>
</head>
<body class="admin-main-body">
	<div class="admin-main-header">
        <span>管理员列表</span>
        <button class="layui-btn layui-btn-sm" onclick="add()">添加</button>
        <div></div>
    </div>
    <table class="layui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>角色</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name="data.admins" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.truename}</td>
                    <td>{:isset($data['groups'][$vo.gid])? $data['groups'][$vo.gid]['group_name'] : ''}</td>
                    <td>{$vo.status == 0 ? '正常' : '<span class="admin-danger">禁用</span>'}</td>
                    <td>{:date('Y-m-d H:i:s', $vo.create_at)}</td>
                    <td >
                        <button class="layui-btn layui-btn-xs" onclick="add({$vo['id']})">编辑</button>
                        <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="del({$vo['id']})">删除</button>
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
    <script type="text/javascript">
        layui.use(['layer'], function(){
            layer = layui.layer;
            $ = layui.jquery;
        });
        //添加和编辑操作
        function add(id)
        {
            layer.open({
                type: 2,
                title: id > 0 ? '编辑管理员信息' : '添加管理员',
                shade: 0.3,
                area: ['400px', '450px'],
                content: '/admin/admin/add?id=' +id,
            });
        }
        //删除操作
        function del(id)
        {
            layer.confirm('您确定要删除吗？', {
                btn: ['确定','取消']
            }, function(){
                $.post('/admin/admin/del', {'id':id}, function(res){
                    if (res.code > 0)
                    {
                        layer.alert(res.message,{icon:2});
                        return;
                    }
                    layer.msg(res.message, {icon:1});
                    setTimeout(function(){parent.window.location.reload();}, 1000);
                }, 'json')
            });
        }
    </script>
</body>
</html>