<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style type="text/css">
        .admin-add-body{padding:30px;}
        .admin-add-form{margin-left: -50px;}
    </style>
</head>
<body class="admin-add-body">
    <div class="admin-add-form">
        <form class="layui-form">
            <input type="hidden" name="id" value="{$role.id?$role.id:''}">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" value="{$role.group_name?$role.group_name:''}" name="group_name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限列表</label>
                {volist name='menus' id='vo'}
                <div class="layui-input-block">
                    <input type="checkbox" class="layui-checkbox"  title="{$vo.title}"
                           name="rights[]" <?php if (in_array($vo['id'], $role['rights'])): ?>checked<?php endif; ?> value="{$vo.id}">
                    <hr>
                    {volist name='vo.childs' id='cvo'}
                    <input type="checkbox" lay-skin="primary" class="layui-checkbox" name="rights[]"
                    <?php if (in_array($cvo['id'], $role['rights'])): ?>checked<?php endif; ?> value="{$cvo.id}" title="{$cvo.title}">
                    {/volist}
                    <hr>
                </div>
                {/volist}
            </div>
        </form>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="save()">保存</button>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            layui.use(['layer', 'form'], function(){
                var form = layui.form;
                layer = layui.layer;
                $ = layui.jquery;
            });
            //保存
            function save()
            {
                //逻辑判断
                var title = $.trim($('input[name=group_name]').val());
                if (title == '')
                {
                    layer.alert('请填写角色名称', {'icon':2});
                    return;
                }

                $.post('/admin/roles/save', $('form').serialize(), function(res){
                    if (res.code > 0)
                    {
                        layer.alert(res.message, {'icon':2});
                        return;
                    }
                    layer.msg(res.message);
                    setTimeout(function(){parent.window.location.reload();}, 1000);
                }, 'json');
            }
        </script>
</body>
</html>